<a href="https://colab.research.google.com/github/mariaangeli/Ejercicios_for/blob/main/Ejercicios_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



#Instruccion Repetitiva For

In [ ]:
#Ejercicio 1: mostrar los números del 1 al 10,sin usar instrucciones repetitivas

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
#Ejercico 2: mostrar los numeros del 1 al 10,usando las intrucción whyle

contador =1
print(contador)
while contador <10:
  #contador = contador + 1
  contador += 1
  print(contador)

In [ ]:
#Ejercico 3:mostrar los números del 1 al 10 usando la instrucción for y una lista como literable

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(i)

In [ ]:
# Ejercicio 4:mostrar los numeros de 1 al 10 usando la instruccio for y función range

for i in range(1,11):
  print(i)

In [ ]:
#Ejercicio 5: mostrar una frase 10 veces, usando la instrucción for y una lista.

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(f"{i} Sistemas,la mejor")

In [ ]:
#Ejercicio 6:mostara la silaba inicial de los días de la semana,usando for y una lista con la silaba inicial de los días de la semana 

días_semana =["lu","na","ju","vi","sa","do"]
for i in días_semana:
  print(i)

In [ ]:
#Ejercicio7: mostrar una lista de distintos tipos de datos usando for

lista = [1, 3.4, 9, True,"Angelica", 8, "Guanenta"]
for i in lista:
  print(i)

In [ ]:
#Ejercicio8: ingresar su nombre y mostrar letra a letra,usando for

nombre = input("Digite su nombre")
for letra in nombre:
  print(letra)

In [ ]:
#Ejercicio 9:ingresar su nombre y mostrarlo letra a letra usando for comniando por asterisco * a la vocal e

nombre = input("Digite su nombre: ")
for letra in nombre:
  if letra == 'e':
    print("*")
  else:
      print(letra)

In [ ]:
#Ejercicio 10:ingresar su nombre y mostrarlo letra a letra en mayuscula usando for

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra.upper())

In [ ]:
#Ejercicio 11:inprimir lista de números usando for y reange

print("Números del 0 al 9")
for i in range(10):
  print(i)

print("Números del 1 al 10")
for i in range(1,1):
  print(i)

print(" 10 veces la frase")
for i in range(10):
  print("Sistemas la mejor")

print("10 veces la frase i = ")
for i in range(10):
  print("i = " + str(i))

print("10 veces la frase i = ")
for i in range(10):
  print(f"i = {i}")

print("Rango del 7 al 18, incrementando de 4 en 4")
for i in range(7,19,4):
  print(i)

print("Convierte un rango e lista ")
a = list(range(1000))
print(a)

# Ejercicos
1. Dada la siguiente lista de números, [20,21,30,41,50,51, 201] mostrar en pantalla solo los que No terminan en 1.
2. Mostrar 1000 veces la palabra "Programación"
3. Del conjunto de cadenas ["E", "F", "M", "A"] que corresponde a las iniciales de los primeros cuatro meses del año, mostrar el nombre completo de dichos meses.
4. Leer un texto y determinar cuántas veces dicho texto contiene cada una de las vocales en minuscula y/mayúscula

In [ ]:
# Ejercicio 1:Dada la siguiente lista de números, [20,21,30,41,50,51, 201] mostrar en pantalla solo los que No terminan en 1.

numeros = [20, 21, 30, 41, 50, 51, 201]

for numero in numeros:
    if numero % 10 != 1:
        print(numero)

In [ ]:
# Ejercicio 2:Mostrar 1000 veces la palabra "Programación"

print(" 1000 veces la palabra")
for i in range(1000):
  print("Programación")

In [ ]:
#Ejercicio 3: conjunto de cadenas ["E", "F", "M", "A"] que corresponde a las iniciales de los primeros cuatro meses del año, mostrar el nombre completo de dichos meses.

print("mostrar nombre completo de dichos meses" )
Cadena =["E", "F", "M", "A"]
for i in lista:
  print(f"{i} Enero,Febrero,marzo,abril")

In [ ]:
#Ejercicio 4: